<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- STYLE CSS -->
  <link rel="stylesheet" href="/stylesheets/style-pages.css" />
</head>

<body>
  <nav class="navbar">
    <a href="/dashboard">
      <h1> <img src="/images/clock.png" width="80" height="80" alt="clock">
        <strong>Plan</strong>Away
      </h1>
    </a>
    <div class="logout-btn">
      <a class="button-83" href="/logout">Logout</a>
    </div>
  </nav>
  <div class="wrapper">
    <div class="inner">
      <div class="image-holder">
        <img src="/images/details.png" alt="">
      </div>
      <section>
        <h3>Note Detail</h3>
        <div>
          <span class="title-text2">Title : </span>
          <textarea readonly class="textarea1" rows="2" cols="30">{{note.title}}</textarea>
        </div>
        <div>
          <span class="title-text3">Description : </span>
          <textarea readonly class="textarea1" rows="7" cols="45">{{note.description}}</textarea>
        </div>
        <div class="form-check">
          <input class="title-text3" type="checkbox" onclick="return false;" disabled="disabled" {{#if
            note.taskDone}}checked{{/if}} id="flexCheckDefault" name="checkbox" />
          <label class="form-check-label" for="flexCheckDefault">Task completed </label>
        </div>
        <div class="btn2">
          <form action="/notes/{{note._id}}/edit" method="GET">
            <button class="main__button3" type="submit" class="btn btn-primary">Edit</button>
          </form>
          <form action="/notes/{{note._id}}/delete" method="POST">
            <button class="main__button3" value="DELETE">Delete</button>
          </form>
        </div>
      </section>
    </div>
  </div>
  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>