
<form action="/notes/{{note._id}}/edit" method="POST">
<div class="header">
  <div class="wrapper">
    <div class="title-wrapper">
      <h2 class="title-text1">Detail Note </h2>
    </div>
    <div>
        
      <span class="title-text2">Title :  </span>
      <textarea name="title" class="textarea3"  rows="2" cols="30">{{note.title}}</textarea>
    </div>
    
    <div>
      <span class="title-text3">Description : </span>
      <textarea name="description"class="textarea4"  rows="7" cols="50">{{note.description}}</textarea>
    </div>
    
    
     <div class="centre-button">
        <button  class="main__button" value="submit">Submit Edit</button>
        </div>

    
    </div>
  </div>
 </form>