<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- STYLE CSS -->
  <link rel="stylesheet" href="/stylesheets/style-pages.css" />
</head>

<body>

  <nav class="navbar">
    <a href="/">
      <h1> <img src="/images/clock.png" width="80" height="80" alt="clock">
        <strong>Plan</strong>Away
      </h1>
    </a>

    <span2>
      <a class="button-83" href="/dashboard">Dashboard</a>
    </span2>
  </nav>
  <div class="wrapper2">
    <div class="inner2">

      <form onsubmit="onSubmit()" action="/notes/{{note._id}}/edit" method="POST">

        <div class="title-wrapper">
          <h2 class="title-text1">Edit Note </h2>
        </div>
        <div>

          <span class="title-text2">Title : </span>
          <textarea name="title" class="textarea3" rows="2" cols="30">{{note.title}}</textarea>
        </div>

        <div>
          <span class="title-text3">Description : </span>
          <textarea name="description" class="textarea4" rows="7" cols="50">{{note.description}}</textarea>
        </div>

        <div class="form-check">
          <input class="title-text3" type="checkbox" value="done" {{#if note.taskDone}}checked{{/if}}
            id="flexCheckDefault" name="checkbox" />
          <label class="form-check-label" for="flexCheckDefault" for="flexCheckDefault">Task completed </label>
        </div>


        <div class="btn2">

          <button class="main__button" value="submit">Submit Edit</button>

        </div>
      </form>



    </div>
  </div>
  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>