{{!-- <h2>Add a new note</h2>

<form action="/initial" method="post">
  <label> Title:
    <input type="text" name="title" />
  </label>

  <label> Description:
    <input type="text" name="description" />
  </label>

  <button type="submit" id="addEventButton"> Create note </button>
</form> --}}
<nav class="navbar">
  <a href="#" class="logo"><strong>Plan</strong>Away</a>
  <div class="nav-links">
    <ul class="nav-menu">
       <li class='active'><a href ="/logout">Log Out</a></li>
      <li class="active"><a href="">Contact Us</a></li>
    </ul>
  </div>
</nav>

<header class="header">
  <div>
    <div id="form" class="form-group">
      <h2 class="title-text1">Add a new note </h2>
      <form action="/initial" method="POST">

        <label class="title-text2">
          Title
          <input type="text" name="title" />
        </label>

        <label class="title-text3">
          Description
          <input type="text" name="description" />
        </label>
        <span class="centre-button1">
          <button class="main__button" type="submit" id="addEventButton"> Create note </button>
        </span>

      </form>
    </div>
  </div>
</header>