<h2>Add a new note</h2>

<form action="/notes/create" method="post">
  <label> Title:
    <input type="text" name="title" />
  </label>

  <label> Description:
    <input type="text" name="description" />
  </label>

  <button type="submit"> Create note </button>
</form>