
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style-landingPage.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo"><strong>Plan</strong>Away</a>
        <div class="nav-links">
          <ul class="nav-menu">
            <li><a href="">Features</a></li>
            <li class="active"><a href="">Contact Us</a></li>  
          </ul>
        </div>  
       
        
      
    </nav>
    
    <header class="header">
        
        <div>
             <p class="title-text">Planning is bringing the future into the present so that you can do something about it now.<br>
                <br>
                <strong>Plan Yourself To The Top ✨</strong></p>
            <span class="centre-button">
                <a class="main__button" href="/auth/signup">Sign Up</a>
                <a class="main__button" href="/login">Login</a>
            </span>
        </div>

    </header>
</body>
</html>