<nav class="navbar">
  <a href="/dashboard" class="logo"><strong>Plan</strong>Away</a>
  <div class="nav-links">
    <ul class="nav-menu">
      <li class="active"><a href="">Contact Us</a></li>
    </ul>
  </div>
</nav>
<header class="header">
  <div class="wrapper">
    <login><div id="form" class="form-group">
        <h2 class="title-text1">Log In </h2>
        <form action="/login" method="POST">
          <div class="wrapper">

          <label class="title-text2">
            Username
            <input
              class="inputField2"
              type="text"
              name="username"
              placeholder="Your username"
            />
          </label>

          <label class="title-text3">
            Password
            <input
              class="inputField1"
              type="password"
              name="password"
              placeholder="Your password"
            />
          </label>
          <span class="centre-button1">
            <button
              class="main__button"
              type="submit"
              class="btn btn-primary"
            >Login</button>
          </span>
          </div>
          <br />
          {{#if errorMessage}}
            <p class="title-text4" class="error">{{errorMessage}}</p>
          {{/if}}
        </form>
      </div></login>
  </div>
</header>